{
  "donation_identifiers": [
    "ChartiableOrg",
    "Sm DonorFirstName",
    "Lg CharityName",
    "donor@example.com"
  ],
  "staff_identifiers": [
    "staff@example.com"
  ],
  "standalone_name_to_email": {
    "Customer Nickname": "customer@example.com"
  },
  "box_size_overrides": {
    "Customer Name #2": "small"
  }
}
